# Server
server:
    port: 80
# Standard Spring Boot properties.
spring:
    application:
        name: drpweb
    profiles:
        # The commented value for `active` can be replaced with valid spring profiles to load.
        # Otherwise, it will be filled in by maven when building the WAR file
        # Either way, it can be overridden by `--spring.profiles.active` value passed in the commandline or `-Dspring.profiles.active` set in `JAVA_OPTS`
        active: prod
    jackson:
        serialization.write_dates_as_timestamps: false
#    messages:
#        basename: i18n/messages
    mvc:
        favicon:
            enabled: false



runkeeper:
  client:
    clientId: f18e3497b59c4329b683ed2bebe2d2cc
    clientSecret: bbfe866b93ec43a4bdf7763bcc2c12d5
    accessTokenUri: https://runkeeper.com/apps/token
    userAuthorizationUri: https://runkeeper.com/apps/authorize
    tokenName: oauth_token
    authenticationScheme: query
    clientAuthenticationScheme: form
    scope: read
  resource:
    userInfoUri:  https://api.runkeeper.com/user