<!--
<h3>This is what the most patient want! The exellent plan which will help you
  who is a patient or normal people using treat to cure of the disease or control
  your weight with proper diet for any kind of the disease.
  <button class="btn btn-default" style="width: auto">
    <span ng-include src="'app/user/sign_up.html'"></span></button></h3>
<h3>Existing users  <button class="btn btn-default" style="width: auto">
  <span ng-include src="'app/security/sign_in.html'"></span></button>
</h3>
-->



  <h2 class="display-3"><b>Web Application for Diet-Restricted Patient!</b></h2>
  <p class="lead">  This is what the most patient want! The exellent plan which will help you
    who is a patient or normal people using treat to cure of the disease or control
    your weight with proper diet.</p>
  <hr class="m-y-2">
  <h3><p>Let's start!</p></h3>

  <p class="lead">
    <button class="btn btn-primary btn-lg" style="background-color: #5a4427;height: 62px;padding-top: 5px;padding-bottom: 15px;padding-left: 25px;"><span ng-include src="'app/user/sign_up.html'"></span></button>
  </p>
  <p>Existing users,</p>  <button class="btn btn-default" style="width: auto;height: 42px;background-color: rgba(0,0,0,0.26);padding: 0px 6px;" >
    <span ng-include src="'app/security/sign_in.html'"></span>
</button>


