<div ng-controller="mainDRPController as vm">
  <nav class="navbar navbar-inverse" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid" style="background-color: #2d1c07">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home" style="color: rgb(250,250,250)">DRPWeb</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li ng-show="user"><a href="#">MyPlan</a></li>-->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="user"><a href="#/myaccount">MyAccount</a></li>
        <li ng-hide="user" ><span ng-include src="'app/user/sign_up.html'"></span></li>
        <li ng-hide="user" style=" margin-top: 5px;"><span ng-include src="'app/security/sign_in.html'"></span></li>
        <li ng-show="user">
          <a href="/" ng-click="$root.logout()" style="color: rgb(250,250,250);padding-bottom: 0px;padding-top: 0px;margin-top: 15px;"><p>Sign-out</p></a>
      </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="alert alert-success alert-dismissable col-md-offset-4 col-md-4" role="alert" ng-show="signUpSuccess">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
  <strong>Success!</strong> Success sign up new account
</div>

</div>

