<div ng-controller="MainCtrl as vm">
  <nav class="navbar navbar-inverse" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid" style="background-color: #2d1c07">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home" style="color: rgb(250,250,250)">DRP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <div ng-show="user">
        <li ng-hide="currentrole == 'admin'"><div id="connectRun" ng-click="connectRunKeeper(true)" style="color: rgb(250,250,250);padding-bottom: 0px;padding-top: 0px;margin-top: 15px;"><p>Connect RunKeeper</p></div>
          <div id="disConnectRun" ng-click="connectRunKeeper(false)" style="display:none;color: rgb(250,250,250);padding-bottom: 0px;padding-top: 0px;margin-top: 15px;"><p>Disconnect RunKeeper</p></div></li>
        </div>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!--<li ng-show="user"><a href="#/myaccount">MyAccount</a></li>-->
        <!--<div ng-controller="ModalRegisterController as vm">-->
        <!--<li ng-hide="user" ng-click="vm.open()"><span>Sign up</span></li>-->
        <!--</div>-->
        <!--<div ng-controller="ModalLoginController as vm">-->
        <!--<li ng-hide="user" style=" margin-top: 5px;" ng-click="vm.open()">-->
          <!--<span>Sign in</span>-->
          <!--&lt;!&ndash;<span ng-include src="'app/security/sign_in.html'"></span>&ndash;&gt;-->
        <!--</li>-->
          <!--</div>-->
        <li ng-show="user">
          <a href="/" ng-click="$root.logout()" style="color: rgb(250,250,250);padding-bottom: 0px;padding-top: 0px;margin-top: 15px;"><p>Sign-out</p></a>
      </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="alert alert-success alert-dismissable col-md-offset-4 col-md-4" role="alert" ng-show="signUpSuccess"
     style=" position: absolute; top: 0px;">
  <a class="close" data-dismiss="alert" aria-label="Close" ng-click="signUpSuccess=false">
    <span aria-hidden="true">&times;</span></a>
  <strong>Success!</strong> Success sign up new account
</div>

  <div class="alert alert-warning alert-dismissable col-md-offset-4 col-md-4" role="alert" ng-show="selectDisease"
  style="position: absolute; top: 0px;">
    <a class="close" data-dismiss="alert" aria-label="Close" ng-click="selectDisease=false">
      <span aria-hidden="true">&times;</span></a>
    <strong>Warning!</strong> Please select the disease
  </div>

  <div class="alert alert-success alert-dismissable col-md-offset-4 col-md-4" role="alert" ng-show="updateUser"
       style="position: absolute; top: 0px;">
    <a class="close" data-dismiss="alert" aria-label="Close" ng-click="updateUser=false">
      <span aria-hidden="true">&times;</span></a>
    <strong>Success!</strong> Your profile has been updated
  </div>

  <!--<div class="alert alert-danger alert-dismissable col-md-offset-4 col-md-4" role="alert" ng-show="notEnoughFood"-->
       <!--style=" position: absolute; top: 0px; ">-->
    <!--<a class="close" data-dismiss="alert" aria-label="Close" ng-click="notEnoughFood=false">-->
      <!--<span aria-hidden="true">&times;</span></a>-->
    <!--<strong>Sorry!</strong> Not enough food to solve-->
  <!--</div>-->


</div>

