<div ng-controller="FoodManageController as vm">
  <h3><div style="text-align: center;">Food Management</div></h3>
  <div class="container">
  <div class="row" style="text-align: center;">
    <div class="col-sm-1"><span ng-include src="'app/manage/food/addFood.html'"></span></div>
    <div class="col-sm-1"><span ng-include src="'app/manage/food/updateFood.html'"></span></div>
    <div class="col-sm-1"><button type="button" class="btn btn-secondary" style="margin-left: 20px;" ng-disabled="selectedRowFood==null" ng-click="delete()">Delete</button></div></div>

    <hr class="m-y-2">
    <div class="table-responsive" style="overflow-y:auto;height: 400px;">
    <table class="table table-bordered table-hover table-sm">
      <thead class="thead-default">
      <tr>
        <th>ID</th>
        <th>Food Name</th>
      </tr>
      </thead>
      <tr ng-repeat="item in foods" ng-class="{'selected':item == selectedRowFood}" ng-click="setClickedRow(item)">
        <td>{{item.foodId}}</td>
        <td>{{item.foodNameEng}}</td>
      </tr>
    </table>
      </div>
    <div>
      selectedRow = {{selectedRowFood.foodNameEng}}
    </div>

  </div>
</div>
