

<div ng-controller="ModalLoginController as vm">
  <button class="btn btn-default" ng-click="vm.open()" style="width: auto;height: 42px;background-color: rgba(0,0,0,0.26);padding: 0px 6px;" >
    <p style="color: rgb(250,250,250);margin-top: 10px;">Sign-in</p>
  </button>
  <script type="text/ng-template" id="sign_in.html">
    <div class="modal-header" style="height: 60.909091000000004px;">
      <h3 class="modal-title">Sign-in!</h3>
    </div>
    <div class="modal-body">
      <div class="alert alert-danger alert-dismissible" role="alert" ng-show="vm.lofinFaild">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> {{vm.loginMessage}}
      </div>
      <form role="form" ng-submit="vm.ok()">
        <div class="form-group">
          <label for="username"> Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" ng-model="vm.username" required>
        </div>
        <div class="form-group">
          <label for="password"> Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="vm.password" required>
        </div>
       <!-- <div class="form-group checkbox">
          <label><input type="checkbox" value="" checked ng-model="vm.rememberMe">Remember me</label>
        </div>-->
        <div class="form-group" style="width: 100%">
          <button class="btn btn-primary" type="submit" value="submit" style="width: 100%">Sign-in</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
  </script>

</div>
