<div class="row"
    style="
     width: 1200px;
     margin-right: 0px;
     margin-left: 10px;
">
  <table class="brpbar">
    <tr>
      <th style="background-color: #C0C0C0;width: 200px;">
        BMI : {{vm.bmi}}
      </th>
      <th style="background-color: #A4C8F0">
        Budget : {{budget}}
      </th>
      <th style="background-color: #FFDDDD">
        Diet : {{totalDietCal}}
      </th>
      <th style="background-color: #F4EFAF">
        Activity : {{vm.activity}}
      </th>
      <th style="background-color: #D0B3E1">
        Net : {{totalDietCal-0}}
      </th>
      <th style="background-color: #B9E3AE">
        Under : {{underCal}}
      </th>
    </tr>
  </table>
</div>


<!--<dropdown placeholder="Disease..." list="diseases" selected="disease" property="name"></dropdown>-->
<div ng-controller="MainCtrl as vm" ng-init="init()">

<div ng-show="vm.currentR == 'patient'">

  <form role="form" ng-submit="setDisease()">
    <div class="form-group">
      <select ng-model="vm.selectedDisease" class="pull-left" style="margin-left: 115px;height: 34px;">
        <option value="" disabled selected>{{currentDisease}}</option>
        <option ng-repeat="d in diseases" value="{{d.diseaseName}}">{{d.diseaseName}}</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" value="submit" style="margin-left: 20px;">Generate Plan</button>
    </div>
  </form>
  <!--<h1>You selected: {{vm.selectedDisease}}</h1>-->
</div>



  <div class="row" style="margin-top: 15px;width: 1200px;height: 300px;">

    <div class="col-md-5 col-md-offset-1" style="
         margin-left: 120px;
         margin-right: 20px;
    ">
      <!-- <calendar-md flex layout layout-fill
                    calendar-direction="direction"
                    on-prev-month="prevMonth"
                    on-next-month="nextMonth"
                    on-day-click="dayClick"
                    title-format="'MMMM y'"
                    ng-model='selectedDate'
                    day-format="'d'"
                    day-label-format="'EEE'"
                    day-label-tooltip-format="'EEEE'"
                    day-tooltip-format="'fullDate'"
                    week-starts-on="firstDayOfWeek"
                    day-content="setDayContent"></calendar-md> -->

      <!-- <div style="font-size: 32px; color: #fff; ">
        <span style="background-color: blue;" ng-click="selectCalTab(1)">Tab 1</span>
        <span style="background-color: green;" ng-click="selectCalTab(2)">Tab 2</span>
      </div> -->

      <br>
      <div style="background-color: #999999" ng-if="calendarTab == 1">
        <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="calendarDate" calendar="myCalendar1"></div>
      </div>
      <div style="background-color: #989898" ng-if="calendarTab == 2">
        Nothing to see in this tab
      </div>
      <br>




      <!--<div hidden> {{calendarDate}} </div>-->
    </div>

    <button ng-click="showme=true" ng-hide="showme">Change set menu</button>


    <div class="col-md-5" style="overflow-y:auto;height:300px;width: 380px;margin-right: 15px;top: 10px;">

<!--      <div>
        <h1>Meal for  {{selectedDate}}</h1>
      </div>-->
      <table class="table table-hover" width="100%">
        <thead>
        <tr>
          <th>
            Brakefast
            <select ng-show="showme" ng-model="vm.selectedFoodBfast" class="pull-left" ng-change="setFood(vm.selectedFoodBfast,1)">
              <option value="" disabled selected>Breakfast</option>
              <option ng-repeat="fBfast in foodSetsBreakfast track by $index" value="{{fBfast[0]}}">{{fBfast[2]}}</option>
            </select>

          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {{bfast1}}
          </td>
          </tr>
        <tr>
          <td>
            {{bfast2}}
          </td>
          </tr>
        <tr>
          <td>
            {{bfast3}}
          </td>
        </tr>
        </tbody>
      </table>

      <table class="table table-hover" width="100%">
        <thead>
        <tr>
          <th>Lunch
            <select ng-show="showme" ng-model="vm.selectedFoodLunch" class="pull-left" ng-change="setFood(vm.selectedFoodLunch,2)">
              <option value="" disabled selected>Lunch</option>
              <option ng-repeat="fLunch in foodSetsLunch track by $index" value="{{fLunch[0]}}">{{fLunch[2]}}</option>
            </select>
            <!--<span class="pull-right">Total:</span>-->
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {{lunch1}}
            <!--<span class="pull-right glyphicon glyphicon-remove-circle"></span>-->
            <!--<span class="pull-right glyphicon glyphicon-edit"></span>-->
          </td>
          </tr>
        <tr>
          <td>
           {{lunch2}}
            <!--<span class="pull-right glyphicon glyphicon-remove-circle"></span>-->
            <!--<span class="pull-right glyphicon glyphicon-edit"></span>-->
          </td>
          </tr>
        <tr>
          <td>
            {{lunch3}}
            <!--<span class="pull-right glyphicon glyphicon-remove-circle"></span>-->
            <!--<span class="pull-right glyphicon glyphicon-edit"></span>-->
          </td>
        </tr>
        </tbody>
        <!--<tfoot>-->
        <!--<tr>-->
          <!--<th>-->
            <!--<span class="pull-right">Add More</span>-->
          <!--</th>-->
        <!--</tr>-->
        <!--</tfoot>-->
      </table>

      <table class="table table-hover" width="100%">
        <thead>
        <tr>
          <th>Dinner
            <select ng-show="showme" ng-model="vm.selectedFoodDinner" class="pull-left" ng-change="setFood(vm.selectedFoodDinner,3)">
              <option value="" disabled selected>Dinner</option>
              <option ng-repeat="fDinner in foodSetsDinner track by $index" value="{{fDinner[0]}}">{{fDinner[2]}}</option>
            </select>
            <!--<span class="pull-right">Total:</span>-->
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
           {{dinner1}}
            <!--<span class="pull-right glyphicon glyphicon-remove-circle"></span>-->
            <!--<span class="pull-right glyphicon glyphicon-edit"></span>-->
          </td>
          </tr>
        <tr>
          <td>
            {{dinner2}}
            <!--<span class="pull-right glyphicon glyphicon-remove-circle"></span>-->
            <!--<span class="pull-right glyphicon glyphicon-edit"></span>-->
          </td>
          </tr>
        <tr>
          <td>
            {{dinner3}}
            <!--<span class="pull-right glyphicon glyphicon-remove-circle"></span>-->
            <!--<span class="pull-right glyphicon glyphicon-edit"></span>-->
          </td>
        </tr>
        </tbody>
        <!--<tfoot>-->
        <!--<tr>-->
          <!--<th>-->
            <!--<span class="pull-right">Add More</span>-->
          <!--</th>-->
        <!--</tr>-->
        <!--</tfoot>-->
      </table>

    </div>

  </div>
  <button ng-click="showme=false" ng-show="showme" style="
    margin-top: 10px;
    margin-left: 20px;
">Done</button>
  <!-- <button ng-click="fetchPlan()" hidden>Check Plan</button>-->
</div>


