<div class="row">
    <table class="brpbar"  >
        <tr>
            <th style="background-color: #C0C0C0">
                BMI : {{vm.bmi}}
            </th>
            <th style="background-color: #A4C8F0">
                Budget : <!--{{vm.detail.budget}}-->
            </th>
            <th style="background-color: #FFDDDD">
                Diet :
            </th>
            <th style="background-color: #F4EFAF">
                Activity :
            </th>
            <th style="background-color: #D0B3E1">
                Net :
            </th>
            <th style="background-color: #B9E3AE">
                Under :
            </th>
        </tr>
    </table>
</div>
<div class="row" style="margin-top: 30px">
  <div ng-controller="MainCtrl" ng-init="init()">
    <div class="col-md-5 col-md-offset-1">
   <!-- <calendar-md flex layout layout-fill
                 calendar-direction="direction"
                 on-prev-month="prevMonth"
                 on-next-month="nextMonth"
                 on-day-click="dayClick"
                 title-format="'MMMM y'"
                 ng-model='selectedDate'
                 day-format="'d'"
                 day-label-format="'EEE'"
                 day-label-tooltip-format="'EEEE'"
                 day-tooltip-format="'fullDate'"
                 week-starts-on="firstDayOfWeek"
                 day-content="setDayContent"></calendar-md> -->

        <!-- <div style="font-size: 32px; color: #fff; ">
          <span style="background-color: blue;" ng-click="selectCalTab(1)">Tab 1</span>
          <span style="background-color: green;" ng-click="selectCalTab(2)">Tab 2</span>
        </div> -->

        <br>
        <div style="background-color: #999999" ng-if="calendarTab == 1">
          <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="calendarDate" calendar="myCalendar1"></div>
        </div>
        <div style="background-color: #989898" ng-if="calendarTab == 2">
          Nothing to see in this tab
        </div>
        <br>




        <div hidden> {{calendarDate}} </div>
      </div>
    <div class="col-md-5">
      <div>
        <h1>Meals for  {{selectedDate}}</h1>
      </div>
      <table class="table table-hover" width="100%">
        <thead>
        <tr>
          <th>Brakefast
            <span class="pull-right">Total:</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {{bfast}}
            <span class="pull-right glyphicon glyphicon-remove-circle"></span>
            <span class="pull-right glyphicon glyphicon-edit"></span>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>
            <span class="pull-right">Add More</span>
          </th>
        </tr>
        </tfoot>
      </table>
      <table class="table table-hover" width="100%">
        <thead>
        <tr>
          <th>Lunch
            <span class="pull-right">Total:</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {{lunch}}
            <span class="pull-right glyphicon glyphicon-remove-circle"></span>
            <span class="pull-right glyphicon glyphicon-edit"></span>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>
            <span class="pull-right">Add More</span>
          </th>
        </tr>
        </tfoot>
      </table>
      <table class="table table-hover" width="100%">
        <thead>
        <tr>
          <th>Dinner
            <span class="pull-right">Total:</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            {{dinner}}
            <span class="pull-right glyphicon glyphicon-remove-circle"></span>
            <span class="pull-right glyphicon glyphicon-edit"></span>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>
            <span class="pull-right">Add More</span>
          </th>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
  <button ng-click="fetchPlan()" hidden>Check Plan</button>
</div>


