<div class="row" style="
    width: 1334px;
">
  <table class="brpbar">
    <tr>
      <th style="background-color: #C0C0C0;width: 200px;">
        BMI : {{vm.bmi}}
      </th>
      <th style="background-color: #A4C8F0">
        Budget : {{vm.budget}}
      </th>
      <th style="background-color: #FFDDDD">
        Diet : {{totalDietCal}}
      </th>
      <th style="background-color: #F4EFAF">
        Activity : {{vm.activity}}
      </th>
      <th style="background-color: #D0B3E1">
        Net : {{totalDietCal-0}}
      </th>
      <th style="background-color: #B9E3AE">
        Under : {{vm.budget-totalDietCal}}
      </th>
    </tr>
  </table>
</div>


<!--<dropdown placeholder="Disease..." list="diseases" selected="disease" property="name"></dropdown>-->
<div ng-controller="MainCtrl as vm" ng-init="init()">

<div ng-show="vm.currentR == 'patient'">

  <form role="form" ng-submit="setDisease()">
    <div class="form-group">
      <select ng-model="vm.selectedDisease" class="pull-left" style="margin-left: 115px;height: 34px;">
        <option value="" disabled selected>{{currentDisease}}</option>
        <option ng-repeat="d in diseases" value="{{d.diseaseName}}">{{d.diseaseName}}</option>
      </select>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit" value="submit" style="margin-left: 20px;">Generate Plan</button>
    </div>
  </form>
  <!--<h1>You selected: {{vm.selectedDisease}}</h1>-->
</div>



  <div class="row" style="margin-top: 15px;width: 1334px;">

    <div class="col-md-5 col-md-offset-1">
      <!-- <calendar-md flex layout layout-fill
                    calendar-direction="direction"
                    on-prev-month="prevMonth"
                    on-next-month="nextMonth"
                    on-day-click="dayClick"
                    title-format="'MMMM y'"
                    ng-model='selectedDate'
                    day-format="'d'"
                    day-label-format="'EEE'"
                    day-label-tooltip-format="'EEEE'"
                    day-tooltip-format="'fullDate'"
                    week-starts-on="firstDayOfWeek"
                    day-content="setDayContent"></calendar-md> -->

      <!-- <div style="font-size: 32px; color: #fff; ">
        <span style="background-color: blue;" ng-click="selectCalTab(1)">Tab 1</span>
        <span style="background-color: green;" ng-click="selectCalTab(2)">Tab 2</span>
      </div> -->

      <br>
      <div style="background-color: #999999" ng-if="calendarTab == 1">
        <div id="calendar" ui-calendar="uiConfig.calendar" ng-model="calendarDate" calendar="myCalendar1"></div>
      </div>
      <div style="background-color: #989898" ng-if="calendarTab == 2">
        Nothing to see in this tab
      </div>
      <br>




      <!--<div hidden> {{calendarDate}} </div>-->
    </div>
    <div class="col-md-5">
<!--      <div>
        <h1>Meal for  {{selectedDate}}</h1>
      </div>-->

      <table class="table table-hover" width="100%">
        <thead>
        <tr>
          <th>Brakefast
            <span class="pull-right">Total:</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
              <select ng-model="vm.selectedFoodBfast" class="pull-left" ng-change="setFood(vm.selectedFoodBfast,1)">
                <option value="" disabled selected>{{bfast}}</option>
                <option ng-repeat="f in foods" value="{{f.foodName}}"> {{f.foodName}}</option>
              </select>

            <span class="pull-right glyphicon glyphicon-remove-circle"></span>
            <span class="pull-right glyphicon glyphicon-edit"></span>

          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>
            <span class="pull-right">Add More</span>
          </th>
        </tr>
        </tfoot>
      </table>

      <table class="table table-hover" width="100%">
        <thead>
        <tr>
          <th>Lunch
            <span class="pull-right">Total:</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <select ng-model="vm.selectedFoodLunch" class="pull-left" ng-change="setFood(vm.selectedFoodLunch,2)">
              <option value="" disabled selected>{{lunch}}</option>
              <option ng-repeat="f in foods" value="{{f.foodName}}"> {{f.foodName}}</option>
            </select>

            <span class="pull-right glyphicon glyphicon-remove-circle"></span>
            <span class="pull-right glyphicon glyphicon-edit"></span>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>
            <span class="pull-right">Add More</span>
          </th>
        </tr>
        </tfoot>
      </table>

      <table class="table table-hover" width="100%">
        <thead>
        <tr>
          <th>Dinner
            <span class="pull-right">Total:</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <select ng-model="vm.selectedFoodDinner" class="pull-left" ng-change="setFood(vm.selectedFoodDinner,3)">
              <option value="" disabled selected>{{dinner}}</option>
              <option ng-repeat="f in foods" value="{{f.foodName}}"> {{f.foodName}}</option>
            </select>

            <span class="pull-right glyphicon glyphicon-remove-circle"></span>
            <span class="pull-right glyphicon glyphicon-edit"></span>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th>
            <span class="pull-right">Add More</span>
          </th>
        </tr>
        </tfoot>
      </table>
    </div>
    <div class="col-md-1"></div>
  </div>
  <!-- <button ng-click="fetchPlan()" hidden>Check Plan</button>-->
</div>


